div.row {
	background-color: grey;
	margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 25px;
}

div.container {
	width: 100%;
}

li:hover {
  background-color: darkgrey;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media(min-width: 768px){
	.navbar-nav {
		display: none;
	}
}